/* Sommaire du CSS de Consonne Open Source Project V.1

Pour modifier plus facilement ce CSS veuller trouver ci-dessous
la section ou se trouve l'élément à modifier.
Par exemple si vous voulez supprimer le header faites un CTRL + F et rechercher
"1) header" vous n'aurez plus qu'à trouver l'élément à modifier
dans la section header !

1) header
2)
3)
4)
5)

Merci d'utiliser COSP et de faire vivre ce programme !
*/

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}



body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

footer {
  margin-top: auto;
}
/*////////////////////////// 1) header ////////////////////////////////////*/
/* section déstiné à l'header et le panel de navigation admin du coté */

/* titre du header */
header > p {
  font-size: 2em;
  padding-top: 0.3em;
  padding-left: 0.3em;
}
/* fin du CSS pour le titre du header */

/* barre de navigation du header */
.navbar{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* style des liens par defaut*/
.nav > a{
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}
/* fin du style par defaut */

/* style des liens en hover */
.nav > a:hover{
  color: red;
  text-decoration: underline;
}
/* fin du style avec hover */
/* fin de la barre de navigation du header */
/*Placement nav admin*/
.corps{
  display: flex;
  flex-flow: row wrap;
}
/* début de la navadmin */

nav {
  max-width: 20%;
}

li {

}

/*////////////////////////// fin header ////////////////////////////////////*/
.contenu{
  display: flex;
  flex: 1;
  flex-flow: column;
}

.accueil{
  display: flex;
  flex: 1;
  max-width: 70%;
  flex-flow: column;
}
